---
import type { TypePageSkeleton } from "@lib/generated/contentful";
import type { Entry } from "@lib/types";
import Base from "./Base.astro";
import RichText from "@components/RichText.astro";

interface Props extends Entry<TypePageSkeleton> {}

const page = Astro.props;
---

<Base {...page} grain={true} introAnimation={false} bodyClass="fulmine-bg text-white flex flex-col justify-end md:justify-center">
  <div
    class="max-w-[400px] overflow-hidden text-center mx-auto px-4 fade-in-bottom mb-[25px] md:mb-0 md:mt-[50px]"
  >
    <RichText content={page.fields.content} />
  </div>
</Base>

<script is:inline>
  const toFade = document.getElementsByClassName('fade-in-bottom');
  setTimeout(() => {
    for (let i = 0; i < toFade.length; i++) {
      toFade[i].classList.add('fade-in-bottom-start');
    }
  }, 100);
</script>

<style is:global>
  .fulmine-bg {
    background-image: url('/img/bg-fulmine.jpg');
    background-size: auto 140%;
    background-position: center 80%;
    background-repeat: no-repeat;
  }

  @media (min-width: 768px) {
    .fulmine-bg {
      background-position: center 70%;
      background-size: cover;
    }
  }
</style>
