---
import type { TypePageSkeleton } from "@lib/generated/contentful";
import type { Entry } from "@lib/types";
import Base from "./Base.astro";
import RichText from "@components/RichText.astro";

interface Props extends Entry<TypePageSkeleton> {}

const page = Astro.props;
---

<Base
  {...page}
  grain={true}
  introAnimation={false}
  bodyClass="rampallonata-bg text-white"
>
  <div class="fade-in-bottom">
    <img
      src="/img/tour-rampallonata.svg"
      alt="logo"
      class="w-full max-w-[600px] mx-auto px-4 pt-12 pb-12"
      width="280"
    />
  </div>
  <div
    class="max-w-[400px] absolute bottom-[64px] left-0 right-0 m-auto overflow-hidden text-center mx-auto px-4 fade-in-bottom md:mb-0"
  >
    <RichText content={page.fields.content} />
  </div>
</Base>

<script is:inline>
  const toFade = document.getElementsByClassName("fade-in-bottom");
  setTimeout(() => {
    for (let i = 0; i < toFade.length; i++) {
      toFade[i].classList.add("fade-in-bottom-start");
    }
  }, 100);
</script>

<style is:global>
  .rampallonata-bg {
    background-image: url("/img/bg-rampallonata.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
